<% include ../partials/header %>
<% include partials/menu %>

<script>
	function sendInvite(id) {
		$.post("/admin/send-invite", { id: id }).done(function(data) {
			alert("Data Loaded: " + data);
		});
	}
</script>

<h3>Invites</h3>
<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email address</th>
			<th>Requested</th>
			<th>Last sent</th>
			<th>Activated</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<%if (invites.length > 0) { %>
		<tbody>
			<% invites.forEach(function(invite){ %>
			<tr>
				<td><%= invite.name %></td>
				<td><%= invite.emailAddress %></td>
				<td><%= moment(invite.dateRequested).format("DD/MM/YYYY HH:mm") %></td>
				<td>
					<% if(invite.dateSent != null) { %>
						<%= moment(invite.dateSent).format("DD/MM/YYYY HH:mm") %>
					<% } else { %>
						<span class="fui-cross"></span>
					<% } %>
				</td>
				<td>
					<% if(invite.dateActivated != null) { %>
						<%= moment(invite.dateActivated).format("DD/MM/YYYY HH:mm") %>
					<% } else { %>
						<span class="fui-cross"></span>
					<% } %>
				</td>
				<td>
					<a href="javascript:void(0);" class="fui-info" rel="tooltip" title="Invite code: <%= invite.inviteCode %>"></a>
				</td>
				<td>
					<% if(invite.createdUserId != null) { %>
						<span class="fui-user"></span>
					<% } else { %>
						<a href="javascript:sendInvite(<%= invite.id %>)" rel="tooltip" data-toggle="tooltip" data-tooltip-style="light" title="Send invite">
							<span class="fui-mail"></span>
						</a>
					<% } %>
				</td>
			</tr>
			<% }); %>
		</tbody>
	<% } else { %>
		<tbody>
			<td colspan="7">No invites</td>
		</tbody>
	<% } %>
</table>

<% include ../partials/footer %>