<% include ../partials/header %>
<% include ../partials/menu %>

<div class="row">

	<div class="feed span9">

		<ul class="media-list">

			<% 
				for (var i = 0; i < episodes.length; i++) { 
					var episode = episodes[i]; 
					var podcastUrl = "http://{0}.{1}".format(episode.podcastUrl, host);
					var episodeUrl = "{0}/episodes/{1}".format(podcastUrl, episode.episodeNumber);
					var timeSinceEpisode = moment(episode.publishDate).fromNow();
			%>

				<li class="media well">
					<a class="pull-left" href="<%=podcastUrl%>">
					  	<img class="media-object" src="http://placehold.it/64x64">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<span class="label label-episode label-inverse">
								#<%=episode.episodeNumber%>
							</span> 
							<a href="<%=episodeUrl%>">
								<%=episode.title%>
							</a>
						</h4>

						<div class="meta">
							<a href="<%=podcastUrl%>" class="btn btn-small btn-primary">
								<i class="fui-user"></i>
								<%=episode.podcastTitle%>
							</a>

							<span class="btn btn-small btn-info">
								<i class="fui-calendar"></i>
								<%=timeSinceEpisode%>
							</span>
						</div>

						<hr>
						
						<div>
							<%-markdown.toHTML(episode.description)%>
						</div>
					</div>
				</li>

			<% } %>
		</ul>

	</div>

	<div class="span3">
		<ul class="nav nav-list">
		<li class="nav-header">My Podcasts</li>

			<% 
				for (var i = 0; i < podcasts.length; i++) { 
					var podcast = podcasts[i]; 
			%>

				<li>
					<a href="<%="/podcasts/{0}".format(podcast.id)%>">
						<%=podcast.title%>
						<span class="nav-counter">19</span>
					</a>
				</li>

			<% } %>
			<li class="divider"></li>
			<li class="nav-header">Following</li>
		</ul>
	</div>

</div>

<% include ../partials/footer %>