<% include ../partials/header %>
<% include ../partials/menu %>

<div class="row">

	<div class="feed span9">

		<ul class="media-list">

			<% 
				for (var i = 0; i < episodes.length; i++) { 
					var episode = episodes[i]; 
			%>

				<li class="media well">
					<a class="pull-left" href="#">
					  	<img class="media-object" src="http://placehold.it/64x64">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<span class="label label-episode label-inverse">#<%=episode.episodeNumber%></span> 
							<%=episode.title%>
						</h4>

						<div class="meta">
							<span class="label label-large label-primary">
								<i class="fui-user"></i>
								<%=episode.podcastTitle%>
							</span>
							<span class="label label-large label-info">
								<i class="fui-calendar"></i>
								<%=episode.publishDate%>
							</span>
						</div>

						<hr>
						
						<div>
							<%-markdown.toHTML(episode.description)%>
						</div>
					</div>
				</li>

			<% } %>
		</ul>

	</div>

	<div class="span3">
		<ul class="nav nav-list">
		<li class="nav-header">My Podcasts</li>

			<% 
				for (var i = 0; i < podcasts.length; i++) { 
					var podcast = podcasts[i]; 
			%>

				<li>
					<a href="<%="/podcasts/{0}".format(podcast.id)%>">
						<%=podcast.title%>
						<span class="nav-counter">19</span>
					</a>
				</li>

			<% } %>
			<li class="divider"></li>
			<li class="nav-header">Following</li>
		</ul>
	</div>

</div>

<% include ../partials/footer %>