<% include /partials/header %>

<div class="span10 offset2">
	<div class="row">
		<div class="span10 public-main">
			<h3><%= podcast.title %></h3>
			<hr>

			<div class="episodes">
				<div class="row">	
				<% 
					for(var i = 0; i < episodes.length; i++) { 
						var episode  = episodes[i];
				%>
					<section class="episode span9">
						<h3>
							<a href="<%= '/episodes/{0}'.format(episode.episodeNumber) %>">
								Episode #<%= episode.episodeNumber %>: <%= episode.title %>
							</a>
						</h3>

						<div class="description">
							<%
							var descriptionHtml = markdown.toHTML(episode.description);
							%>
							<%- descriptionHtml %>
						</div>

						<% if(episode.notes) { %>
						<div class="show-notes">
							<%
							var showNotesHtml = markdown.toHTML(episode.notes);
							%>
							<%- showNotesHtml %>
						</div>
						<% } %>

						<div class="">
							<a href="<%= '/episodes/{0}/download'.format(episode.episodeNumber) %>" class="btn btn-mini">
								<i class="fui-plus-inverted"></i>
								Download episode #<%=episode.episodeNumber%>
							</a>
						</div>

						<div class="">
							First Broadcast: <%= moment(episode.publishDate).fromNow() %>
						</div>

					</section>

					<hr>
				<%	} %>
				</div>
			</div>
		</div>
	</div>
</div>
<% include /partials/footer %>
