<% include /partials/header %>

<script>
$(function() {
	var a = audiojs.createAll({
			createPlayer: {
				markup: '\
					<div class="castr-scrubber"> \
					<div class="castr-progress"></div> \
					<div class="castr-loaded"></div> \
					</div> \
					<div class="castr-play-pause"> \
					<p class="castr-play"><span class="fui-play"></span></p> \
					<p class="castr-pause"><span class="fui-pause"></span></p> \
					<p class="castr-loading"><span class="fui-time"></span></p> \
					<p class="castr-error"><span class="fui-cross"></span></p> \
					</div> \
					<div class="castr-time"> \
					<em class="castr-played">00:00</em>/<strong class="castr-duration">00:00</strong> \
					</div> \
					<div class="castr-error-message"></div>',
				playPauseClass: 'castr-play-pause',
				scrubberClass: 'castr-scrubber',
				progressClass: 'castr-progress',
				loaderClass: 'castr-loaded',
				timeClass: 'castr-time',
				durationClass: 'castr-duration',
				playedClass: 'castr-played',
				errorMessageClass: 'castr-error-message',
				playingClass: 'castr-playing',
				loadingClass: 'castr-loading',
				errorClass: 'castr-error'
			},
			css: false
 		});
})
</script>

	<div class="row">
		<div class="span10 centre public-main">
			<h3 style="text-align: center"><%= podcast.title %></h3>
			
			<hr>
			
			<div class="episodes">
				<% 
					for(var i = 0; i < episodes.length; i++) { 
						var episode  = episodes[i];
				%>
				<div class="row">	
					<section class="episode">
						<h4>
							<a href="<%= '/episodes/{0}'.format(episode.episodeNumber) %>">
								Episode #<%= episode.episodeNumber %>: <%= episode.title %>
							</a>
						</h4>

						<% if (episode.file) { %>
						<div class="player">
							<audio src="<%=episode.file.url%>" preload="metadata"></audio>
						</div>						
						<% } %>

						<div class="description">	
							<%
							var descriptionHtml = markdown.toHTML(episode.description);
							%>
							<%- descriptionHtml %>
						</div>

						<% if(episode.notes) { %>
						<div class="show-notes">
							<%
							var showNotesHtml = markdown.toHTML(episode.notes);
							%>
							<%- showNotesHtml %>
						</div>
						<% } %>

						<div class="meta">
							First Broadcast: <%= moment(episode.publishDate).fromNow() %>
						</div>

					</section>
				</div>
				<%	} %>
			</div>
		</div>
	</div>

<% include /partials/footer %>
