<% include /partials/header %>
<script>
var podcastId = <%=podcast.id%>;
var baseUrl = "<%=baseUrl%>";

$(function() {
	$.getJSON("http://{0}/api/podcasts/{1}/isFollowing".format(baseUrl, podcastId), function(data) {
		if (data.result) {
			$("#followButton").val("Unfollow");
		} else {
			$("#followButton").val("Follow");
		}
	});

	$("#followButton").click(function() {
		$.getJSON("http://{0}/api/podcasts/{1}/follow".format(baseUrl, podcastId), function(data) {
			if (data.result) {
				$("#followButton").val("Unfollow");
			}
		});
	});
});
</script>

<div class="span10 offset2">
	<h3><%= podcast.title %></h3>
	<hr>

	<p><button class="btn btn-primary" id="followButton">Follow</button></p>
	<div class="episodes">
		<div class="row">	
		<% 
			for(var i = 0; i < episodes.length; i++) { 
				var episode  = episodes[i];
		%>
			<section class="episode span9">
				<h3>
					<a href="<%= '/episodes/{0}'.format(episode.episodeNumber) %>">
						Episode #<%= episode.episodeNumber %>: <%= episode.title %>
					</a>
				</h3>

				<div class="description">
					<%
					var descriptionHtml = markdown.toHTML(episode.description);
					%>
					<%- descriptionHtml %>
				</div>

				<% if(episode.notes) { %>
				<div class="show-notes">
					<%
					var showNotesHtml = markdown.toHTML(episode.notes);
					%>
					<%- showNotesHtml %>
				</div>
				<% } %>

				<div class="">
					<a href="<%= '/episodes/{0}/download'.format(episode.episodeNumber) %>" class="btn btn-mini">
						<i class="fui-plus-inverted"></i>
						Download episode #<%=episode.episodeNumber%>
					</a>
				</div>

				<div class="">
					First Broadcast: <%= moment(episode.publishDate).fromNow() %>
				</div>

			</section>

			<hr>
		<%	} %>
		</div>
	</div>
</div>
<% include /partials/footer %>
