<% include /partials/header %>
		
		<div class="episodes">
			<% 
				for(var i = 0; i < episodes.length; i++) { 
					var episode  = episodes[i];
			%>	
			<section class="episode">
				<h4>
					<a href="<%= '/episodes/{0}'.format(episode.episodeNumber) %>">
						Episode #<%= episode.episodeNumber %>: <%= episode.title %>
					</a>
				</h4>

				<% if (episode.file) { %>
				<div class="player">
					<audio src="<%=episode.file.url%>" preload="metadata"></audio>
				</div>						
				<% } %>

				<div class="description">	
					<%
					var descriptionHtml = markdown.toHTML(episode.description);
					%>
					<%- descriptionHtml %>
				</div>

				<% if(episode.notes) { %>
				<div class="show-notes">
					<%
					var showNotesHtml = markdown.toHTML(episode.notes);
					%>
					<%- showNotesHtml %>
				</div>
				<% } %>

				<div class="meta">
					Broadcast <%= moment(episode.publishDate).fromNow() %>
				</div>

			</section>

			<hr>

			
			<%	} %>
		</div>

<% include /partials/footer %>
