<% include /partials/header %>

<div class="episodes">
<% 
	for(var i = 0; i < episodes.length; i++) { 
		var episode  = episodes[i];
%>
	<section class="episode">
		<h3>
			<a href="<%= '/episodes/{0}'.format(episode.episodeNumber) %>">
				Episode #<%= episode.episodeNumber %>: <%= episode.title %>
			</a>
		</h3>

		<div class="description lead">
			<%
			var descriptionHtml = markdown.toHTML(episode.description);
			%>
			<%- descriptionHtml %>
		</div>

		<% if(episode.notes) { %>
		<div class="show-notes">
			<%
			var showNotesHtml = markdown.toHTML(episode.notes);
			%>
			<%- showNotesHtml %>
		</div>
		<% } %>

		<div class="">
			<a href="<%= '/episodes/{0}/download'.format(episode.episodeNumber) %>" class="btn btn-mini">
				<i class="fui-plus-inverted"></i>
				Download episode #<%=episode.episodeNumber%>
			</a>
		</div>

		<div class="">
			First Broadcast: <%= episode.publishDate %>
		</div>

	</section>
	<hr>
<%	} %>
</div>
<% include /partials/footer %>
