<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="/css/flat-ui.css">
        <link rel="stylesheet" href="/css/audio.css">
        <link rel="stylesheet" href="/css/site.css">

        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/audiojs/audio.min.js"></script>
        <script src="/js/castr/shared.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script>
        $(function() {
            var a = audiojs.createAll({
                createPlayer: {
                    markup: '\
                        <div class="castr-scrubber"> \
                        <div class="castr-progress"></div> \
                        <div class="castr-loaded"></div> \
                        </div> \
                        <div class="castr-play-pause"> \
                        <p class="castr-play"><span class="fui-play"></span></p> \
                        <p class="castr-pause"><span class="fui-pause"></span></p> \
                        <p class="castr-loading"><span class="fui-time"></span></p> \
                        <p class="castr-error"><span class="fui-cross"></span></p> \
                        </div> \
                        <div class="castr-time"> \
                        <em class="castr-played">00:00</em>/<strong class="castr-duration">00:00</strong> \
                        </div> \
                        <div class="castr-error-message"></div>',
                    playPauseClass: 'castr-play-pause',
                    scrubberClass: 'castr-scrubber',
                    progressClass: 'castr-progress',
                    loaderClass: 'castr-loaded',
                    timeClass: 'castr-time',
                    durationClass: 'castr-duration',
                    playedClass: 'castr-played',
                    errorMessageClass: 'castr-error-message',
                    playingClass: 'castr-playing',
                    loadingClass: 'castr-loading',
                    errorClass: 'castr-error'
                },
                css: false
            });
        });
        </script>

        <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
	</head>
	<body>
        <% /* %>
        <div class="castr-menu">
            <div class="btn-group">
                <% if (userIsFollowingThisPodcast) { %>
                    <a class="btn btn-mini btn-secondary" href="#follow"><i class="fui-check"></i> Following</a>
                <% } else { %>
                    <a class="btn btn-mini btn-secondary" href="#follow"><i class="fui-plus"></i> Follow</a>
                <% } %>
                
                <% if (user.isLoggedIn) { %>
                    <a class="btn btn-mini btn-secondary" href="<%= "{0}{1}/feed".format(global.protocol, global.baseUrl) %>"><i class="fui-list"></i> My feed</a>
                <% } else { %>
                    <a class="btn btn-mini btn-secondary" href="<%= "{0}{1}/request-invite".format(global.protocol, global.baseUrl) %>"><i class="fui-list"></i> Join Castr</a>
                <% } %>
            </div>
        </div>

        <% */ %>

        <div class="navbar navbar-inverse navbar-header">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="<%= "{0}{1}".format(global.protocol, global.baseUrl) %>">Castr</a>
                </div>
            </div>
        </div>

        <div class="span10 centre public-main">

            <h3 class="podcast-title"><a href="/"><%= podcast.title %></a></h3>
            
            <% if (podcast.description) {%>
            <p class="lead podcast-description"><%= podcast.description %></p>
            <% } %>

            <div class="navbar navbar-podcast">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="nav-wrapper">
                            <ul class="nav">
                                <li><a href="/">Episodes</a></li>
                                <li><a href="/">Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>