<% include ../partials/header %>
<% include ../partials/menu %>

<link rel="stylesheet" href="/css/audio.css">

<script>
	var nowPlayingViewModel = {
		episodeId: ko.observable(),
		podcastId: ko.observable(),
		episodeTitle: ko.observable(),
		podcastTitle: ko.observable(),
		episodeNumber: ko.observable(),
		progressUrl: function() {
			var progressUrl = "/api/podcasts/{0}/episodes/{1}/progress".format(this.podcastId(), this.episodeId());
			return progressUrl;
		}
	};

	$(function() {
		var a = audiojs.createAll({
			createPlayer: {
				markup: '\
					<div class="castr-scrubber"> \
					<div class="castr-progress"></div> \
					<div class="castr-loaded"></div> \
					</div> \
					<div class="castr-play-pause"> \
					<p class="castr-play"><span class="fui-play"></span></p> \
					<p class="castr-pause"><span class="fui-pause"></span></p> \
					<p class="castr-loading"><span class="fui-time"></span></p> \
					<p class="castr-error"><span class="fui-cross"></span></p> \
					</div> \
					<div class="castr-time"> \
					<em class="castr-played">00:00</em>/<strong class="castr-duration">00:00</strong> \
					</div> \
					<div class="castr-error-message"></div>',
				playPauseClass: 'castr-play-pause',
				scrubberClass: 'castr-scrubber',
				progressClass: 'castr-progress',
				loaderClass: 'castr-loaded',
				timeClass: 'castr-time',
				durationClass: 'castr-duration',
				playedClass: 'castr-played',
				errorMessageClass: 'castr-error-message',
				playingClass: 'castr-playing',
				loadingClass: 'castr-loading',
				errorClass: 'castr-error'
			},
			css: false
 		});

		var lastSentTime = 0; // tracks last sent time
		var audio = a[0];

	  	$(".play-button").click(function(e) {
	  		e.preventDefault();

	  		var episode = $("#episode-{0}".format($(this).attr("data-episode")));

	  		if (episode.hasClass("now-playing")) {
	  			if (audio.playing) {
	  				audio.pause();
			  		$(this).children(".play-button-icon").attr("class", "play-button-icon fui-play");
			  		$(this).children(".play-button-text").text("Play");	
	  			} else {
		  			audio.play();
	  				$(this).children(".play-button-icon").attr("class", "play-button-icon fui-pause");
			  		$(this).children(".play-button-text").text("Pause");
	  			}
	  		} else {
		  		$(".play-button-icon").attr("class", "play-button-icon fui-play");
		  		$(".play-button-text").text("Play");

		  		$(this).children(".play-button-icon").attr("class", "play-button-icon fui-pause");
		  		$(this).children(".play-button-text").text("Pause");

		  		$("li.now-playing").each(function(index, element) {
		  			$(element).removeClass("now-playing");
		  		});
		  		$(episode).addClass("now-playing");

				nowPlayingViewModel.episodeId($(episode).attr("data-episode"));
				nowPlayingViewModel.podcastId($(episode).attr("data-podcast"));
				nowPlayingViewModel.episodeTitle($(episode).attr("data-episode-title"));
				nowPlayingViewModel.podcastTitle($(episode).attr("data-podcast-title"));
				nowPlayingViewModel.episodeNumber($(episode).attr("data-episode-number"));

		  		var audioLocation = $(episode).attr("data-audio-location");
		  		audio.load(audioLocation);
		  		audio.play();
		  	}
		});

		$("audio").bind("canplay", function() {
			// start at progress offset
			var self = this;
			$.getJSON(nowPlayingViewModel.progressUrl(), function(data) {
				if (data.result) {
					var time = data.result;
					var percent = time / self.duration;
					audio.skipTo(percent);
				}
			})
		});

		$("audio").bind("timeupdate", function(e) {
			// update progress
			var time = Math.floor(this.currentTime);
			if (time > 10 && time % 3 == 0 && time != lastSentTime) { // every 3s after first 10s
				console.log("time: " + time);
				lastSentTime = time;
				$.post(nowPlayingViewModel.progressUrl(), { time: time });
			}
		});
	});

	$(function() {
		ko.applyBindings(nowPlayingViewModel);
	});
</script>

<% if(episodes.length > 0) { %>

<p id="prog"></p>

<div class="row">
	<div class="span12">
		<div class="well">
			<p>
				<b>Now Playing</b>: 
				#<span class="" data-bind="text: episodeNumber">1</span> 
				<span data-bind="text: episodeTitle"></span> - 
				<span data-bind="text: podcastTitle"></span>
			</p>
			<audio preload="none"></audio>
		</div>
	</div>
</div>

<div class="row">
	<div class="feed span9">
		<ul class="media-list">

			<% 
				for (var i = 0; i < episodes.length; i++) { 
					var episode = episodes[i]; 
					var podcastUrl = "http://{0}.{1}".format(episode.podcastUrl, baseUrl);
					var episodeUrl = "{0}/episodes/{1}".format(podcastUrl, episode.episodeNumber);
					var timeSinceEpisode = moment(episode.publishDate).fromNow();
			%>

				<li id="<%="episode-{0}".format(episode.id)%>" class="media well" data-episode="<%=episode.id%>" data-podcast="<%=episode.PodcastId%>" data-audio-location="<%=episode.audioUrl%>" data-podcast-title="<%=episode.podcastTitle%>" data-episode-title="<%=episode.title%>" data-episode-number="<%=episode.episodeNumber%>">
					<a class="pull-left" href="<%=podcastUrl%>">
					  	<img class="media-object" src="http://placehold.it/64x64">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<span class="label label-episode label-inverse">
								#<%=episode.episodeNumber%>
							</span> 
							<a href="<%=episodeUrl%>">
								<%=episode.title%>
							</a>
						</h4>

						<div class="meta">

							<a href="#" class="btn btn-small btn-primary play-button btn-wide" data-episode="<%=episode.id%>">
								<i class="fui-play play-button-icon"></i>
								<span class="play-button-text">Play</span>
							</a>

							<a href="<%=podcastUrl%>" class="btn btn-small btn-info">
								<i class="fui-user"></i>
								<%=episode.podcastTitle%>
							</a>

							<a href="<%=episodeUrl%>" class="btn btn-small">
								<i class="fui-calendar"></i>
								<%=timeSinceEpisode%>
							</a>

						</div>

						<hr>
						
						<div>
							<%-markdown.toHTML(episode.description)%>
						</div>
					</div>
				</li>

			<% } %>
		</ul>

	</div>

	<div class="span3">
		<ul class="nav nav-list">
			<li class="nav-header">Following</li>
			<% 
				for (var i = 0; i < following.length; i++) { 
					var podcastFollowing = following[i]; 
					var podcastUrl = "http://{0}.{1}".format(podcastFollowing.podcast.url, baseUrl);
			%>
				<li>
					<a href="<%=podcastUrl%>">
						<%=podcastFollowing.podcast.title%>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
</div>

<% } else { %>

<div class="row">
	<div class="span10 offset1">
		<h3>Nothing</h3>
		<p>Before release the Glass Umbrella podcast should be followed by default</p>
	</div>
</div>

<% } %>

<% include ../partials/footer %>