<% if(!locals.activePodcastTab) { activePodcastTab = "none"; } %>

<div id="podcastDetails">
	<div class="row">
		<div class="span10">
	    	<input data-bind="value: podcastName, hasFocus: podcastNameEditing" class="h3-style span10" value="<%= podcast.title %>" />
		</div>

		<a class="btn btn-primary" style="float:right;" href="/podcasts/<%= podcast.id %>/episodes/create">
			<i class="fui-plus"></i>
			New episode
		</a>
	</div>

	<div class="row" style="margin-bottom:1em;">
		<div class="span10">
			<input data-bind="value: podcastDescription, hasFocus: podcastDescriptionEditing" class="span-style span10" value="<%= podcast.description %>" />
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs" <% if(activePodcastTab == "episodes") { %> style="margin-bottom: 0px;" <% } %>>
			<li <% if(activePodcastTab == "episodes") { %> class="active" <% } %>>
			    <a href="episodes">
			    	<span class="fui-mic"></span>
			    	Episodes
			    </a>
			</li>
			<li <% if(activePodcastTab == "stats") { %> class="active" <% } %>>
			    <a href="stats">
			    	<span class="fui-document"></span>
			    	Stats
			    </a>
			</li>
			<!-- <li <% if(activePodcastTab == "settings") { %> class="active" <% } %>>
			    <a href="settings">
			    	<span class="fui-gear"></span>
			    	Settings
			    </a>
			</li> -->
			<li class="pull-right">
			    <a href="<%= "{0}{1}.{2}".format(global.protocol, locals.podcast.url, global.baseUrl) %>">
			    	<span class="fui-upload"></span>
			    	View
			    </a>
			</li>
		</ul>
	</div>
</div>

<script>
	function PodcastDetailsViewModel(podcastName, podcastDescription) {
		var self = this;

	    this.podcastName = ko.observable(podcastName);
	    this.podcastDescription = ko.observable(podcastDescription);

	    this.podcastNameEditing = ko.observable(false);
	    this.podcastDescriptionEditing = ko.observable(false);
	         
		this.podcastNameEditing.subscribe(function(isEditing) {
			if(!isEditing) {
				$.ajax({ type: "POST", url: "/api/podcasts/<%= podcast.id %>/changeTitle/{0}".format(self.podcastName())});
			}
		});

		this.podcastDescriptionEditing.subscribe(function(isEditing) {
			if(!isEditing) {
				$.ajax({ type: "POST", url: "/api/podcasts/<%= podcast.id %>/changeDescription/{0}".format(self.podcastDescription())});
			}
		});
	}
	 
	ko.applyBindings(new PodcastDetailsViewModel("<%= podcast.title %>", "<%= podcast.description %>"), document.getElementById("podcastDetails"));
</script>