<% include ../partials/header %>
<% include ../partials/menu %>

<script>
$(function() {
	$("#audioFileUpload").click(function() {
       filepicker.setKey("AOGP1MTHUQJmnAelu6Yj6z");
		filepicker.pickAndStore({ mimetype:"audio/mp3" }, { location:"S3"}, 
			function(InkBlobs) {
   				alert(JSON.stringify(InkBlobs));
			});
	});

	$("#publishButton").click(function() {
		$("#publishAction").val("true");
	});
});
</script>

<%
var isPremium = session.user.isPremium;

var titleValue = episode.id ? episode.title : "";
var descriptionValue = episode.id ? episode.description : "";
var notesValue = episode.id ? episode.notes : "";
%>

<ul class="breadcrumb">
	<li><a href="/podcasts">My Podcasts</a></li>
	<li class="<%= (isNew ? "active" : "") %>">
		<a href="/podcasts/<%= podcast.id %>"><%= podcast.title %></a>
	</li>
	<% if (!isNew) { %>
		<li class="active"><%= episode.title %></li>
	<% } %>
</ul>
<% if (isNew) { %>
	<h3>
		Create a new episode of <%= podcast.title %>
	</h3>
<% } %>
<hr>
<div class="panel">
	<form method="post" class="form-horizontal">
		<fieldset>
			<% if (message && message.length > 0) { %>
				<div class="alert alert-info">
					<button type="button" class="close fui-cross" data-dismiss="alert"></button>	
		            <p><%= message %></p>
	          	</div>
			<% } %>
			<div class="control-group huge">
			    <label class="control-label" for="title">Episode title</label>
			    <div class="controls">
				    <input type="text" id="title" name="title" placeholder="Your episode title" class="span6" value="<%=titleValue%>">
			    </div>
		    </div>

			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					<textarea id="description" name="description" placeholder="A short description of your episode" rows="5" class="input-block-level"><%=descriptionValue%></textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="notes">Show notes</label>
				<div class="controls">
					<textarea id="notes" name="notes" placeholder="Include links to things you talk about" rows="7" class="input-block-level"><%=notesValue%></textarea>
				</div>
			</div>

				<div class="control-group">
					<label class="control-label" for="description">Audio file</label>
					<div class="controls">
						<% if (isPremium) { %>
							<button id="audioFileUpload" class="btn btn-inverse">Upload your episode MP3 file</button>
							<span class="help-block">MP3 encoded audio file of your podcast. Maximum file size is 200MB.</span>
						<% } else { %>
							<div class="alert alert-info">
					            <p>Use our iOS app to record, upload, and publish this episode. Premium accounts can upload your own MP3 file. <a href="/whypremium">Why do we do this?</a></p>
					            <a href="/app" class="btn btn-info btn-small">Get the app</a>
					            <a href="/upgrade" class="btn btn-small">Upgrade to premium</a>
				          	</div>
						<% } %>	
					</div>
				</div>


			<div class="form-actions">
				<% if (!episode.isPublished) { %>
					<% if (isNew) { %>
						<button type="submit" class="btn btn-primary btn-wide">
							<i class="fui-plus"></i>
							Create episode draft
						</button>
					<% } else { %>
						<button type="submit" id="publishButton" class="btn btn-info <%=isPremium ? "" : "disabled" %>">
							<i class="fui-export"></i>
							Publish episode
						</button>
						<button type="submit" class="btn btn-primary">
							<i class="fui-check"></i>
							Save draft
						</button>
						<input type="hidden" name="publishAction" id="publishAction" value="false" />
					<% } %>
					<a href="<%= "/podcasts/{0}".format(podcast.id) %>" class="btn">
						<i class="fui-cross"></i>
						Discard changes
					</a>
				<% } else { %>
					<button type="submit" id="publishButton" class="btn btn-info">
						<i class="fui-check"></i>
						Save episode
					</button>
				<% } %>

				<% if (!isNew) { %>
					<a href="<%= "/podcasts/{0}".format(podcast.id) %>" class="btn btn-danger pull-right">
						<i class="fui-trash"></i>
						Delete episode
					</a>
				<% } %>
			</div>
		</fieldset>
	</form>
</div>

<% include ../partials/footer %>