<% include ../partials/header %>
<% include ../partials/menu %>

<script>
$(function() {
	$(".file-upload-button").click(function(e) {
		e.preventDefault();
       	filepicker.setKey("AOGP1MTHUQJmnAelu6Yj6z");

       	var pickerOptions = {
			mimetype: "image/*",
			// extensions: [".mp3", ".mp4", ".aac"],
			maxSize: 5242880 // 5MB 
		};

       	var storeOptions = { 
			location: "S3",
			path: "/covers/",
			access: "public"
		};

		var debug = <%=isDebug%>;
		if (debug) {
			storeOptions.path = "/dev{0}".format(storeOptions.path);
		}

		var smallSize = 128;
		var largeSize = 512;

		var smallConversionOptions = {
			format: "jpg",
			quality: 75,
			width: smallSize,
			height: smallSize,
			fit: "crop",
			align: "faces"
		};

		var largeConversionOptions = {
			format: "jpg",
			quality: 75,
			width: largeSize,
			height: largeSize,
			fit: "crop",
			align: "faces"
		};

		filepicker.pickAndStore(pickerOptions, storeOptions, function(InkBlobs) {
			$("#poster-exists").hide();
    		$("#poster-missing").hide();
    		$("#poster-busy").show();
			$("#submit-button").prop("disabled", true);
			$(".file-upload-button").prop("disabled", true);
			//$("#").

			var originalPosterBlob = InkBlobs[0];
			console.log("original:" + JSON.stringify(originalPosterBlob));
			filepicker.convert(originalPosterBlob, smallConversionOptions, storeOptions, function(smallPosterBlob) {
				console.log("small:" + JSON.stringify(smallPosterBlob));
				filepicker.convert(originalPosterBlob, largeConversionOptions, storeOptions, function(largePosterBlob) {
					console.log("large:" + JSON.stringify(largePosterBlob));

			    	$.post("/api/file", originalPosterBlob, function(data) {
			    		console.log("original-poster-file-id: " + data.result);
			    		$("#original-poster-file-id").val(data.result);

			    		$.post("/api/file", smallPosterBlob, function(data) {
				    		console.log("small-poster-file-id: " + data.result);
				    		$("#small-poster-file-id").val(data.result);

					    	$.post("/api/file", largePosterBlob, function(data) {
					    		console.log("large-poster-file-id: " + data.result);
					    		$("#large-poster-file-id").val(data.result);

					    		$("#current-cover-image").attr("src", smallPosterBlob.url);
    							$("#poster-exists").show();
					    		$("#poster-missing").hide();
					    		$("#poster-busy").hide();
			    				$("#submit-button").prop("disabled", false);
								$(".file-upload-button").prop("disabled", false);
					    	});
				    	});
			    	});
				});
			});
		});
	});
});
</script>

<div class="row">
	<div class="span10 offset1">
		<h3>Create a new podcast</h3>
		<hr>
		<form method="post" class="form-horizontal" enctype="multipart/form-data">
			<fieldset>
				<% if(hasReachedPodcastCountLimit) { %>
					<div class="alert alert-error">
				    	Looks like you've reach your podcast limit, <a href="#">archive an old podcast</a> or <a href="#">buy more space</a>.
				    </div>
				<% } %>
				<% if(urlIsTaken || urlIsBanned) { %>
					<div class="alert alert-error">
				    	Looks like that URL is taken, please try again.
				    </div>
				<% } %>

				<div class="control-group huge">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input type="text" name="title" id="title" placeholder="Podcast title" class="span6" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="url">Domain</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" name="url" id="url" style="text-align:right" />
							<span class="add-on">.castr.net</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" id="description" placeholder="A short description of your podcast" class="span6" rows="5"></textarea>
					</div>
				</div>
				<%
					// todo: hook up podcast editing
					var posterExists = false;
					var originalPosterFileIdValue = null;
					var smallPosterFileIdValue = null;
					var largePosterFileIdValue = null;
					var displayNone = "display:none";
				%>
				<div class="control-group">
					<label class="control-label" for="cover">Cover art</label>
					<div class="controls">
						<input type="hidden" name="originalPosterFileId" id="original-poster-file-id" value="<%=originalPosterFileIdValue%>" />
						<input type="hidden" name="smallPosterFileId" id="small-poster-file-id" value="<%=smallPosterFileIdValue%>" />
						<input type="hidden" name="largePosterFileId" id="large-poster-file-id" value="<%=largePosterFileIdValue%>" />
						<div id="poster-exists" style="<%=posterExists ? "" : displayNone%>">
							<img src="" height="64" width="64" id="current-cover-image" class="profile" />
							<button id="replace-cover-button" class="btn btn-warning file-upload-button">
								<i class="fui-upload"></i>
								Replace your cover poster
							</button>
						</div>
						<div id="poster-missing" style="<%=posterExists ? displayNone : ""%>">
							<button id="new-cover-button" class="btn btn-primary file-upload-button">
								<i class="fui-upload"></i>
								Upload cover poster
							</button>
						</div>
						<div id="poster-busy" style="display:none">
							<p><img src="/images/spinner_96.gif" width="48" height="48" />We're converting and resizing your pic, please wait just a little longer...</p>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary" id="submit-button">Create</button>
					<% if(!firstVisit) { %>
						<a href="/" class="btn">Cancel</a>
					<% } else { %>
						<a href="/" class="btn">Skip for now</a>
					<% } %>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<% include ../partials/footer %>
